*{
	padding: 0;
	margin:0;

	
}


html{
	background-color: #e2ffdc;
	background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}
#whole{
	
	background-color: #e2ffdc;
	overflow:hidden;
}

.cards-holder{
	position: absolute;
	left:5%;
	right:5%;
	margin-top: 3rem;
}
.card{
	margin-bottom: 2rem;
}